.img-center.img-responsive {
  margin: 0 auto;
}

.analysis, .query-box, .related, .articles-holder {
  border: 2px solid #111111;
  padding: 5px;
  border-radius: 10px;
  margin-top: 20px;
}

.progress {
}

.centered-as-fuck {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -10px;
}

.sentiment-dislike {
  color: #FF4136;
}

.sentiment-like {
  color: #2ECC40;
}

.sentiment-like, .sentiment-dislike {
  font-size: 2.5em;
  font-weight: bold;
  font-family: 'Droid Sans', sans-serif;
}

.query-box {
  margin-bottom: 20px;
}

.invisible {
  visibility: hidden;
}

.like {
  float: left;
}

.dislike {
  float: right;
}

.svg-img {
  width: 75%;
  height auto;
}

h1, h2 {
  margin-top: 5px;
}

.snippet {
  margin-left: 25px;
}

@media (max-width: 992px) {
  .swarm {
    margin-top: 10px;
  }
}
