.img-center.img-responsive {
  margin: 0 auto;
}

.analysis, .query-box, .articles {
  background-color: #F2F2F2;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
}

.centered-af {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -3px;
  margin-left: -3px;
}

.sentiment-like {
  color: #111111;
  font-size: 3em;
  font-weight: bold;
  font-family: 'Droid Sans', sans-serif;
}

.progress {
  margin-bottom: 0;
}

.query-box {
  margin-bottom: 20px;
}

.invisible {
  visibility: hidden;
}

.like {
  float: right;
}

.dislike {
  float: left;
}

.svg-img {
  width: 80%;
  height auto;
}

.svg-img-big {
  float: left;
  width: 90%;
  height auto;
  margin-top: 15px;
}

h1, h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.snippet {
  margin-left: 25px;
}

@media (max-width: 992px) {
  .swarm {
    margin-top: 10px;
  }
}

.label {
  display: inline-block;
  margin-right: 5px;
}

h3.text-center {
  text-align: center;
}
